html {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/*
    font

*/


.firstHeading{
<<<<<<< HEAD
    width: 100%;
    height: auto;
}
.body {
background-color: #000;
}
.scroll {
    display:block;
    margin:auto;
    background-color: #be5e15;
}
.footer {

position : fixed;

height : 50px;

bottom : 0;

background-color: #000;
=======
    background: #4b0082;
    background-image: url("../image/bg.png");
    width: 1800px;
    height: 200px;
>>>>>>> parent of 98d73df... Скоро deep end
}