html {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/*
    font

*/


.firstHeading{
    background: #4b0082;
    background-image: url("../img/BG/bg-header.png");
    width: 1200px;
    height: 492px;
}