{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 class="p-2 text-light">Описание свитков</h1>
    {% if tasks %}
        {% for post in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{ post.title }}</h3>
                <p>{{ post.task }}</p>


                    {% for p in photos %}

                            <img src="{{p.image.url}}" width="300mp" >

                    {% endfor %}

            </div>
        {% endfor %}
    {% else %}
        <p>У нас нет записей!</p>
    {% endif %}

{% endblock %}
