{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h4 class="p-2 text-light">Описание свитков</h4>
    {% if tasks %}
        {% for post in tasks %}
            <div class="alert alert-light mt-2">
                <h3 class="p-2 text-dark">{{ post.title }}</h3>
                <p class="p-2 text-dark">{{ post.task }}</p>

            </div>
        {% endfor %}
    {% else %}
        <p class="p-2 text-light">У нас нет записей!</p>
    {% endif %}

{% endblock %}
